@*<footer id="footer" class="section section-grey" style="margin-top:450px">*@
<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <hr>
        <!-- row -->
        <div class="row">
            <div class="pull-right">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> | This website made by Sanero and  ThucAnhNguyeen
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
