@model List<Models.EF.BookCategory>


@foreach (var item in Model)
{
    if (item.ParentID == null)
    {
        bool haschild = false;
        foreach (var temp in Model)
        {
            if (temp.ParentID == item.ID)
            {
                haschild = true;
                break;
            }
        }
        if (haschild)
        {
            <li class="dropdown side-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">@item.Name<i class="fa fa-angle-right"></i></a>
                <div class="custom-menu">
                    <div class="row">
                        <div class="col-md-12 pull-left">
                            <ul class="list-links">
                                @foreach (var temp in Model)
                                {
                                    if (temp.ParentID == item.ID)
                                    {
                                        <li><a href="/Book/Category?category=@temp.ID">@temp.Name</a></li>
                                    }

                                }
                                <li><a href="/Book/Category?category=@item.ID">@item.Name</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        }
        else
        {
            <li><a href="/Book/Category?category=@item.ID">@item.Name</a></li>
        }
    }
}